# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fcf6197c0fb54440a9e9c875d04e6cdc17f651e750fee8091c85566780ebe6666b6bc82500ffb1ac735dbfccbbb7d63af4e8f11fbe573522aedf829d9ae146dc

test:
  secret_key_base: 961efb8ebe8ad02c8308c802befdce4cd229129f41e270876929960fb9822843cd2868d18ed1e42e5a9f98eaad586a0628d4d70fb6b7aa61b9e36c302f5eb859

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
